<mat-card class="example-card">
<mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Garfield</mat-card-title>
    <mat-card-subtitle>Jim Davis</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="https://vignette.wikia.nocookie.net/garfield/images/9/9f/GarfieldCharacter.jpg/revision/latest?cb=20180421131132" alt="Photo of a Garfield">
<mat-card-content>
    <p>
    Garfield is a fictional cat and the protagonist of the comic strip of the same name, created by Jim Davis. The comic strip centers on Garfield, portrayed as a lazy, fat, and cynical orange cat. He is noted for his love of lasagna and sleeping, and his hatred of Mondays, fellow cat Nermal and exercise.
    </p>
</mat-card-content>
<mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
</mat-card-actions>
</mat-card>