<mat-toolbar color="primary">
  <span> &nbsp; </span> 
  <span noWrap=false> Material UI </span>
  <span class="example-spacer"></span>
  <span> &nbsp;</span>
  <button mat-icon-button (click)="logout()">
      <mat-icon aria-label="Example icon-button with a heart icon">power_settings_new</mat-icon>
  </button>
</mat-toolbar>

<button type="button" mat-button>Press</button>
<button type="button" mat-raised-button>Press</button>
<button type="button" color="primary" mat-raised-button>Press</button>

<button type="button" mat-icon-button><mat-icon>favorite</mat-icon></button>

<button type="button" color="accent" mat-raised-button mat-icon-button><mat-icon>favorite</mat-icon></button>

<button type="button" color="warn" mat-button>
  <mat-icon>
  free_breakfast
  </mat-icon>
</button>

<mat-divider></mat-divider>
<br>
    
<div class="example-container">
  <form class="example-container" #form="ngForm" (ngSubmit)="processForm(form)">
    <mat-form-field>
      <input matInput id="name" placeholder="Name" required [(ngModel)]="model.name" name="name"
        #name="ngModel">
    </mat-form-field>
    
    <mat-form-field>
        <input matInput id="email" placeholder="Email" required email [(ngModel)]="model.email" name="email"
          #email="ngModel"/>
    </mat-form-field>
    
    <mat-form-field>
          <input matInput placeholder="Phone" required minlength="8" [(ngModel)]="model.phone" name="phone"
          #phone="ngModel"/>
    </mat-form-field>
    
    <mat-radio-group required [(ngModel)]="model.attending" name="attending"
    #attending="ngModel">
      <mat-radio-button value=“yes”>
      Yes&nbsp;
      </mat-radio-button>
      <mat-radio-button value=“no”>
       No
      </mat-radio-button>
    </mat-radio-group>

    <br>
    <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!form.valid"
    >
      Send
    </button>
  </form>
</div>
