<div class="container">
    <h1>RSVP Form</h1>
    <form #form="ngForm" (ngSubmit)="processForm(form)">
        <div class="form-group">
          <label>Name:  
          </label>
          <input type="text" id="name" required [(ngModel)]="model.name" name="name"
            #name="ngModel">
        </div>
        
        <div class="form-group">
            <label>Email:  
            </label>
            <input type="text" id="email" required email [(ngModel)]="model.email" name="email"
              #email="ngModel"/>
        </div>
        <div class="form-group">
            <label>Phone:
              <input type="text" required minlength="8" [(ngModel)]="model.phone" name="phone"
              #phone="ngModel"/>
            </label>
        </div>
        <div class="form-group">
            <label>Attending:
                <input type="radio" value="yes" required [(ngModel)]="model.attending" name="attending"
                #attending="ngModel">Yes
                <input type="radio" value="no" required [(ngModel)]="model.attending" name="attending"
                #attending="ngModel">No
            </label>
        </div>
        
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">
          Send
        </button>
      </form>
</div>
