<mat-toolbar color="primary">
  <span> &nbsp; </span> 
  <span noWrap=false> Weather Widget </span>
  <span class="example-spacer"></span>
  <span> &nbsp;</span>
</mat-toolbar>

<mat-card class="example-card">
  
  <img mat-card-image [src]="imageUrl" alt="Photo of Weather">
  <mat-card-content>
    <p>
        <mat-form-field>
            <mat-label>Countries</mat-label>
            <select matNativeControl placeholder="City" [(ngModel)]="model.city" name="city" (change)="fetchWeatherByCity($event)"
            #city="ngModel">
            <option *ngFor="let country of countries"
            [value]="country.city">
            {{ country.city }} , {{ country.countryName }}
            </option>
            </select>
        </mat-form-field>
    </p>
    <p>
      Temperature : {{model.temp - 273.15 | number}}
    </p>
    <p>
      Pressure : {{model.pressure | number}} hPa
    </p>
    <p>
      Humidity : {{model.humidity | number}} %
    </p>
    <p>
      Remarks : {{model.description }} 
    </p>
    <p>
      Wind Speed - Degree : {{model.windSpeed }} - {{model.windDegree }} 
    </p>
  </mat-card-content>
  
</mat-card>