<mat-toolbar color="primary">
  <span> &nbsp; </span> 
  <span noWrap=false> Weather Widget </span>
  <span class="example-spacer"></span>
  <span> &nbsp;</span>
</mat-toolbar>

<mat-card class="example-card">
  
  <img mat-card-image src="https://www.nea.gov.sg/assets/images/map/base-853.png" alt="Photo of Weather">
  <mat-card-content>
    <p>
        Country : Singapore
    </p>
    <p>
      Temperature : {{model.temp - 273.15 | number}}
    </p>
    <p>
      Pressure : {{model.pressure | number}} hPa
    </p>
    <p>
      Humidity : {{model.humidity | number}} %
    </p>
    <p>
      Remarks : {{model.description }} 
    </p>
    <p>
      Wind Speed - Degree : {{model.windSpeed }} - {{model.windDegree }} 
    </p>
  </mat-card-content>
  
</mat-card>